// media query breakpoints



// $break-small: 320px;
// $break-medium: 599px;
// $break-large: 1200px;



$first-color: #083D83;
$second-color:	#216DDF;
$third-color: #46D6D6;

$border-color: #d3d3d3;
$filter-background:#f6f6f6;

$text-dark-color: #000000;
$text-light-color: #ffffff;





$information-phone: "only screen and (min-device-width: 320px) and (max-device-height: 568px)";
$information-tablet: "only screen and (min-device-width: 568px) and (max-device-height: 768px)";


